{% verbatim %}<div class="step_form" id="step_identification_2"><!-- 0.2 -->
    <h2 class="margin-ultra-bottom">{% endverbatim %}{{"rat.rat_identification.lbl_action_utilisateur_titre"|trans({}, "rat", "fr")|raw}}{% verbatim %}</h2>

    <div class="form-content" data-ng-form name="step_form">

        <p class="warning-light red" data-ng-show="(error != '' && error!=null)">
            <img src="data:null" data-ng-src="{{ prefix_front }}bundles/sel/images/alert.png" class="picto" alt="Alerte">
            <strong>{{error}}</strong>
        </p>
        <div class="form-group box_spacer_xs11">
            <label class="col-xs-12 col-md-4 col-sm-12 control-label" for="numero-client">{% endverbatim %}{{"rat.rat_identification.lbl_num_client"|trans({}, "rat", "fr")|raw}}{% verbatim %}</label>
            <div class="col-xs-11 col-md-4 col-sm-6">
                <input id="numero-client" type="text" name="reference" class="form-control" placeholder="Inscrit à coté de la photo" data-ng-model="userSig.reference" data-ng-maxlength="20" data-ng-pattern="/[0-9]+/" data-ng-required="unknowReference != true" data-ng-disabled="unknowReference == true">
                <span  aria-live="assertive"  class="mess-error" data-ng-show="formSubmitted && (step_form.reference.$error.required)">{{errorMessages['IHM-TRANS-ERR_001']}}</span>
                <span  aria-live="assertive"  class="mess-error" data-ng-show="step_form.reference.$error.pattern && unknowReference != true">{% endverbatim %}{{"rat.rat_identification.err_num_client_invalid"|trans({}, "rat", "fr")|raw}}{% verbatim %}</span>
                <span  aria-live="assertive"  class="mess-error" data-ng-show="step_form.reference.$error.minlength || step_form.reference.$error.maxlength">{% endverbatim %}{{"rat.rat_identification.err_num_client_invalid"|trans({}, "rat", "fr")|raw}}{% verbatim %}</span>
                <img alt="Erreur" class="picto error" data-ng-show="formSubmitted && (step_form.reference.$invalid)" src="data:null" data-ng-src="{{ prefix_front }}bundles/sel/images/error.png">
            </div>
            <div class="col-xs-11 col-md-4 col-sm-6">
                <a href="#/IdentificationHelp" target="_blank" class="btn btn-default btn-sm" title="{{"rat.rat_identification.lbl_aide_num_client_title"|trans({}, "rat", "fr")|raw}}">{% endverbatim %}{{"rat.rat_identification.lbl_aide_num_client"|trans({}, "rat", "fr")|raw}}{% verbatim %}</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-4">
                <div class="checkbox margin-bottom">
                    <input id="checkbox02" type="checkbox" data-ng-init="unknowReference = false" data-ng-model='unknowReference'  data-ng-true-value="true" data-ng-false-value="false" >
                    <label for="checkbox02">{% endverbatim %}{{"rat.rat_identification.ckbox_sans_num_label"|trans({}, "rat", "fr")|raw}}{% verbatim %}
                         <a class="bullet-help" href="#/IdentificationHelp#collapseTwo" target="_blank" title="{{"rat.rat_identification.title_link_ou_le_trouv"|trans({}, "rat", "fr")|raw}}" aria-label="{{"rat.rat_identification.aria_link_ou_le_trouv"|trans({}, "rat", "fr")|raw}}">
                            <!-- Ancre vers la page "ou le trouver" section carte navigo decouverte -->
                            <img src="{% endverbatim %}{{ asset('bundles/sel/images/question.png') }}{% verbatim %}" class="picto" alt="Aide" width="20" height="20">
                        </a>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group birthdate">
            <label for="birthdate" class="col-xs-12 col-sm-12 col-md-4 control-label">{% endverbatim %}{{"rat.rat_identification.lbl_champs_date_naissance"|trans({}, "rat", "fr")|raw}}{% verbatim %}</label>
            <div class="col-xs-11 col-sm-6 col-md-4">
                <div class="col_3">
                    <div>
                        <input id="birthdate" class="form-control" name="birthday" type="text" placeholder="JJ" aria-required="true" required aria-label="{% endverbatim %}{{"rat.rat_identification.aria_alt_champs_jour_naissance"|trans({}, "rat", "fr")|raw}}{% verbatim %}"
                       data-ng-model ="userSig.birthDate.day">
                    </div><div>
                        <input class="form-control" name="birthmonth" type="text" placeholder="MM" aria-required="true" required aria-label="{% endverbatim %}{{"rat.rat_identification.aria_alt_champs_mois_naissance"|trans({}, "rat", "fr")|raw}}{% verbatim %}"
                       data-ng-model="userSig.birthDate.month">
                    </div><div>
                        <input class="form-control" name="birthyear" type="text" placeholder="AAAA" aria-required="true" required aria-label="{% endverbatim %}{{"rat.rat_identification.aria_alt_champs_annee_naissance"|trans({}, "rat", "fr")|raw}}{% verbatim %}"
                       data-ng-model="userSig.birthDate.year">
                    </div>
                </div>
                <span  aria-live="assertive"  class="mess-error" data-ng-show="formSubmitted && (step_form.birthday.$invalid || step_form.birthmonth.$invalid || step_form.birthyear.$invalid)">{{errorMessages['IHM-TRANS-ERR_001']}}</span>
                <img data-ng-hide="isDateValide" alt="Erreur" class="picto error"  src="data:null" data-ng-src="{{ prefix_front }}bundles/sel/images/error.png">
                <span class="mess-error" data-ng-hide="isDateValide">{% endverbatim %}{{"rat.rat_identification.err_date_naissance"|trans({}, "rat", "fr")|raw}}{% verbatim %}</span>
            </div>

        </div>

    </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary aide-photo-btn" data-ng-click="submitForm()" data-ng-disabled="(step_form.reference.$invalid && unknowReference != true) || (!isDateValide || step_form.birthday.$invalid || step_form.birthmonth.$invalid  || step_form.birthyear.$invalid)" title="{% endverbatim %}{{'rat.rat_identification.btn_continuer_info'|trans({}, 'rat', 'fr')|raw}}{% verbatim %}">
                    <span>{% endverbatim %}{{"rat.rat_identification.btn_continuer_lbl"|trans({}, "rat", "fr")|raw}}{% verbatim %}</span>
                </button>
            </div>
        </div>
        <span class="obligatoire">
            <span class="star" aria-label="{% endverbatim %}{{ 'transverse.transverse_obli.aria_lbl_obli'|trans({}, 'transverse') }}{% verbatim %}">*</span>
                {% endverbatim %}{{ 'transverse.transverse_obli.lbl_obli'|trans({}, 'transverse') }}{% verbatim %}
        </span>
    </div>
</div>{% endverbatim %}
