{% verbatim %}<div id="step_profil_4" class="step_form">
    <p class="title">{% endverbatim %}{{"rat.rat_choix_identite.lbl_action_identification_titre"|trans({}, "rat", "fr")|raw}}{% verbatim %}</p>


    <div class="form-content">
        <div class="form-group">

            <div class="col-xs-11 col-md-8 col-sm-12">

                <div class="radio radio-list" data-ng-repeat="userSig in pageCtrl.userSigCollec">
                    <input type="radio" data-ng-model="pageCtrl.selectedUser" value="{{userSig.reference}}" id="userSig_{{$index}}" name="selection-user">
                    <label for="userSig_{{$index}}" class="radio">{{userSig.prenom}} {{userSig.nom}}{{"rat.rat_choix_identite.item_identite"|trans({}, "rat", "fr")|raw}}{{ userSig.dateNaissance | dateFormatStrStandart }}</label>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-sm-12"></div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary aide-photo-btn"  data-ng-disabled="disableSubmit" data-ng-click="pageCtrl.onContinuer(pageCtrl.selectedUser)" Title="{% endverbatim %}{{"rat.rat_choix_identite.btn_continuer_info3"|trans({}, "rat", "fr")|raw}}{% verbatim %}">
                <span>
                    {% endverbatim %}{{"rat.rat_choix_identite.btn_continuer_lbl3"|trans({}, "rat", "fr")|raw}}{% verbatim %}
                </span>
            </button>
        </div>
    </div>
</div>
{% endverbatim %}