{% extends "SelBundle::layout.html.twig" %}

{% block breadcrumb %}
<div id="box_breadcrumb_id" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li><a href="http://www.navigo.fr" title="{{'mdp.mdp_reset_confirmation.accueil'|trans({}, 'mdp', 'fr')|raw}}">{{'mdp.mdp_reset_confirmation.accueil'|trans({}, 'mdp', 'fr')|raw}}</a></li>
            <li><a href="{{ path('sel_homepage') }}" title="{{'mdp.mdp_reset_confirmation.service_navigo'|trans({}, 'mdp', 'fr')|raw}}">{{'mdp.mdp_reset_confirmation.service_navigo'|trans({}, 'mdp', 'fr')|raw}}</a></li>
            <li><a href="{{ path('sel_espace_client') }}" title="{{'mdp.mdp_reset_confirmation.espace_client'|trans({}, 'mdp', 'fr')|raw}}">{{'mdp.mdp_reset_confirmation.espace_client'|trans({}, 'mdp', 'fr')|raw}}</a></li>
            <li><a href="{{ path('sel_coordonnees') }}" title="{{'mdp.mdp_new.info_perso'|trans({}, 'mdp', 'fr')|raw}}">{{'mdp.mdp_new.info_perso'|trans({}, 'mdp', 'fr')|raw}}</a></li>
            <li><a href="{{ path('sel_change_password') }}" title="{{'mdp.mdp_reset_confirmation.reinit_mdp'|trans({}, 'mdp', 'fr')|raw}}">{{'mdp.mdp_reset_confirmation.reinit_mdp'|trans({}, 'mdp', 'fr')|raw}}</a></li>
            <li class="active">{{'mdp.mdp_reset_confirmation.confirm_reinit_mdp'|trans({}, 'mdp', 'fr')|raw}}</li>
          </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block contentTitle %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="heading">
                <h1>{{'mdp.mdp_reset_confirmation.lbl_titre'|trans({}, 'mdp', 'fr')|raw}}</h1>
            </div>
        </div>
    </div>
{% endblock contentTitle %}

{% block mainContent %}
{% block body %}
{% block content %}
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="confirmation">
                <span class="general_Intext">
                    <img src="/RBB1/back/bundles/sel/images/check2x.png" class="picto valid" alt="Confirmation">
                    {{'mdp.mdp_reset_confirmation.lbl_mdp_ok'|trans({}, 'mdp', 'fr')|raw}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-default aide-photo-btn" value="Terminer et retourner à l'accueil" onclick="location.href='{{ path('sel_espace_client') }}';">
                    <span>{{'mdp.mdp_reset_confirmation.btn_retour_espa'|trans({}, 'mdp', 'fr')|raw}}</span>
                </button>
            </div>
        </div>
	</div>
</div>
{% endblock content %}
{% endblock body%}

{% endblock mainContent %}
