{% extends "SelBundle::layout.html.twig" %}

{% block breadcrumb %}
<div id="box_breadcrumb_id" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li><a href="http://www.navigo.fr" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('sel_homepage') }}" title="Services Navigo">Services Navigo</a></li>
            <li><a href="{{ path('sel_connexion') }}" title="Connexion à votre espace Services Navigo">Connexion à votre espace Services Navigo</a></li>
			<li class="active">Mot de passe oublié</li>
          </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block contentTitle %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="heading">
                <h1>{{'mdp.mdp_already_request.lbl_titre'|trans({}, 'mdp', 'fr')|raw}}</h1>
            </div>
        </div>
    </div>
{% endblock contentTitle %}


{% block mainContent %}
{% block body %}

    {% block content %}
        <div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="confirmation">
                        <p>
                            {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}<br/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-default aide-photo-btn" value="Terminer et retourner à l'accueil" onclick="location.href='{{ path("sel_homepage") }}';">
                        <span>{{'mdp.mdp_already_request.btn_retour_accueil'|trans({}, 'mdp', 'fr')|raw}}</span>
                    </button>
                </div>
            </div>
        </div>

    {% endblock content %}
{% endblock body%}

{% endblock mainContent %}
{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}
