{% extends "SelBundle::layout.html.twig" %}

{% block meta_desc %}
    <meta name="description" content="{{"sna.sna_transverse.meta_desc"|trans({}, "sna", "fr")|raw}}">
{% endblock %}

{% block title %}Services Navigo / Souscription{% endblock %}

{% block content_header '' %}

{% block flashMessage %}{% endblock flashMessage %}

{% block step_js %}{% endblock %}

{% block javascript_foot %}
    {{ parent() }}
    {% javascripts '@SelBundle/Resources/public/js/rattachement/*.js' output='js/rattachement.js' %}
            <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}

    {% javascripts
        '@SelBundle/Resources/public/js/souscription/Module/*.js'
        '@SelBundle/Resources/public/js/souscription/Constant/*.js'
        output='js/souscription_tunnel.js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}

    {% javascripts
        '@SelBundle/Resources/public/js/souscription/Original/sel_app.js'
        '@SelBundle/Resources/public/js/souscription/Original/sel_model.js'
        '@SelBundle/Resources/public/js/souscription/Original/model_io.js'
        '@SelBundle/Resources/public/js/souscription/Original/sel_view.js'
        '@SelBundle/Resources/public/js/souscription/Original/sel.js'
        '@SelBundle/Resources/public/js/souscription/Original/identification.js'
        '@SelBundle/Resources/public/js/souscription/Original/identificationSuite.js'
        '@SelBundle/Resources/public/js/souscription/Original/identificationFin.js'
        '@SelBundle/Resources/public/js/souscription/Original/identificationFailure.js'
        '@SelBundle/Resources/public/js/souscription/Original/profil.js'
        '@SelBundle/Resources/public/js/souscription/Original/rattachement.js'
        '@SelBundle/Resources/public/js/souscription/Original/forfait.js'
        '@SelBundle/Resources/public/js/souscription/Original/porteur.js'
        '@SelBundle/Resources/public/js/souscription/Original/photo.js'
        '@SelBundle/Resources/public/js/souscription/Original/paiement.js'
        '@SelBundle/Resources/public/js/souscription/Original/paiement2.js'
        '@SelBundle/Resources/public/js/souscription/Original/recapitulatif.js'
        '@SelBundle/Resources/public/js/souscription/Original/signature.js'
        '@SelBundle/Resources/public/js/souscription/Original/signature2.js'
        '@SelBundle/Resources/public/js/souscription/Original/confirmation.js'
        '@SelBundle/Resources/public/js/souscription/Original/confirmation2.js'
        output='js/sel.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}

    {% if contractId is defined and contractId %}
        <script type="text/javascript">
            SEL.contractId = "{{ contractId }}";
            {{ selHolder }}
            var objects = {{ objects | raw }};
            SEL.MODEL.overwriteObject(objects, SEL.objects);
        </script>
    {% endif %}
{% endblock javascript_foot %}

{% block breadcrumb %}
<div id="box_breadcrumb_id" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li><a href="http://www.navigo.fr" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('sel_homepage') }}" title="Services Navigo">Services Navigo</a></li>
            <li class="active">Souscription Navigo Annuel</li>
          </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block angularModule %}SEL{% endblock angularModule %}

{% block contentTitle %}
     <div class="row">
         <div class="col-xs-12">
             <div class="heading">
                 <h1>Souscription Navigo Annuel</h1>
                 <span class="line"></span>
             </div>
         </div>
     </div>
{% endblock contentTitle %}



 {% block base %}
     <base href="{{ app.request.uri |slice(5)}}">
 {% endblock %}


{% block content %}
    {% verbatim %}
        <div data-ng-controller="TestController" data-ng-init="urlette = 'subscription'">
            <input class="hide" type="text" name="step" value='' data-ng-model="urlette"/>

            <div data-ng-include="urlette">
                Merci de patienter.
            </div>

        </div>
    {% endverbatim %}
{% endblock content%}
