{% verbatim %}<span id="validation-paiement" class="general_Intext" tabindex="-1">{% endverbatim %}{{"pv.pv_paiement.title"|trans({}, "pv", "fr")|raw}}{% verbatim %}</span>
<div class="infos">
    <div class="info">
        <p data-message-dv meskey="{{pageCtrl.meskey}}"></p>
        <p data-message-dv meskey="{{pageCtrl.meskey2}}"></p>
        <p data-message-dv meskey="{{pageCtrl.meskey3}}"></p>
    </div>
</div>

<!--
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" data-message-dv meskey="{{pageCtrl.meskey}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" data-message-dv meskey="{{pageCtrl.meskey2}}"></div>
    <div class="col-xs-12 col-sm-12 col-md-12" data-message-dv meskey="{{pageCtrl.meskey3}}"></div>
</div>
-->
<div class="row">
    <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary aide-photo-btn" title="{{pageCtrl.buttonMessageTitle}}" data-ng-click="pageCtrl.stepSubmit()"><span>{{pageCtrl.buttonMessage}}</span></button>
    </div>
</div>
{% endverbatim %}

{% block tag %}
            {# set declaration to true to access subsection declaration in get_template in rtracking.yml #}
            {% render controller("SelBundle:Tracking:pageTracker", {'request': app.request, 'mapperParameters': {
                    "paiement": true
                }})
            %}
{% endblock tag %}
