{% extends "SelBundle::layout.html.twig" %}
{% block contentTitle %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="heading">
                <h1>{{'cpt.cpt_expire.lbl_activ_espace'|trans({}, 'cpt', 'fr')|raw}}</h1>
            </div>
        </div>
    </div>
{% endblock contentTitle %}

{% block mainContent %}
{% block body %}

    {% block content %}
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="confirmation">
                <p>
                    {{'cpt.cpt_expire.lbl_lien_validation'|trans({}, 'cpt', 'fr')|raw}}<br/>
                    <strong>{{'cpt.cpt_expire.lbl_process_again'|trans({}, 'cpt', 'fr')|raw}}</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{{ path('sel_register') }}#/saisie_donnees_client" class="btn btn-default aide-photo-btn">
                <span>{{'cpt.cpt_expire.lbl_create_espace'|trans({}, 'cpt', 'fr')|raw}}</span>
             </a>
        </div>
    </div>
        {% block tag %}
            {% set mail_expired = true %}
            {%  render controller("SelBundle:Tracking:pageTracker", {'request': app.request, 'mapperParameters':{
                    "mail_expired": mail_expired
                }})
            %}
        {% endblock tag %}
</div>


    {% endblock content %}
{% endblock body%}

{% endblock mainContent %}
